@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$font-Poppins: 'Poppins', sans-serif;
$font-Bitter: 'Bitter', serif;

.dark{
    background-color: black;
    color: white !important;
}


//CART TABLE
.img-cart{
    width: 80%;
}